
body {
	margin:0px;
	background-color:lightgray;
}

nav ul {
	list-style:none;
	margin:0px;
	padding-left:200px;
	width:auto;
	height:30px;
	overflow:hidden;
	background-color:lightblue;
	padding-bottom:15px;
	font-family:Arial;
}

nav li { /*avstand mellom tekst i nav meny*/
	float:left;
	margin-left:70px;
	margin-right:30px;
	padding-right:30px;
	padding-left:30px;
	font-family:Arial;
}

nav li a {
	display:block;
	text-decoration:none;
	color:darkblue;
	padding:15px;
}

nav li a:hover {
	background-color:darkblue;
	color:lightblue;
}

#bilde {
	width:100%;
}

main {
	height:auto;
	width:atuo;
	background-color:lightgrey;
}

article {
	margin-top:auto;
	margin-left:450px;
	margin-right:450px;
}

article li {
	font-family:Arial;
}

article ul {
	font-family:Arial;
}

h1 {
	font-family:Arial;
}

h3 {
	font-family:Arial;
}

p {
	font-family:Arial;
	word-wrap: break-word;
}