* {
	font-family:Arial;
	margin: 0;
	padding: 0;
}


body {
	background-color:lightgray;
}

div {
	margin:auto;
	width:70%;
	background-color:#fff;
	margin-top: 83px;

}
#navHjem {
	float:left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: right;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 1.25em;
}

nav li a:hover {
  background-color: #111;
}

.bilde {
	width:100%;
}

main {
	height:auto;
	width:auto;
	background-color:lightgrey;
}

article {
	margin-top:auto;
	margin:auto;
	padding: 0 15%;
	padding-bottom: 20px;
}

p { /*Lagt til padding på p i steden for aa bruke <br>, folger universell utforming*/
	word-wrap: break-word;
	padding-top: 6px;
	padding-bottom: 12px;
}

h3 {
	margin: 5px 0;
}